.box {
    margin: 15px;
    margin-top: 40px;
}

.Certificate {
    margin-left: 20px;
    padding: 20px;
}

.heading {  
    padding: 0px 12px;
    font-size: 18px;
    font-weight: 700;
    margin-left: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.8;
    text-decoration: underline;
}

.Certificate > img {
    width: 40%;
    padding: 50px;
    height: 450px;
    /* border: 1px solid; */
    border: 1px black;
    text-align: center;
    box-shadow: 10px 10px 20px rgb(244 241 241);
    top: -20px;
    padding: 1.2rem;
}